

@font-face {
  font-family: Josefin Sans;
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: Josefin SemiBold;
  src: url(../fonts/JosefinSans/JosefinSans-SemiBold.ttf);
}

h1, h2, h3, h4, h5, h6, button {
  font-family: Josefin SemiBold, Helvetica, Arial, sans-serif;
}

p, input, textarea, label, small {
  font-family: Josefin Sans;
}

small {
  font-size: 0.7em;
  // text-transform: uppercase;
}

input, textarea {
  width: 100%;
  min-width: 120px;
  box-sizing: border-box;
  border: none;
  border-radius: 7px;
  line-height: 30px;
  font-size: 1em;
  padding: 0 5px 0 5px;
  border: lightgray solid 1px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

.input-small {
  width: 2em; 
  min-width: 2em;
  max-width: 3em;
}

.box {
  box-shadow: 0 2.8px 2.2px rgba(100, 100, 100, 0.034);

  padding: 15px;
  background: white;
  border-radius: 5px;
}

.shadow {
  box-shadow:
    0 2.8px 2.2px rgba(100, 100, 100, 0.034),
    0 6.7px 5.3px rgba(100, 100, 100, 0.048),
    0 22.3px 17.9px rgba(100, 100, 100, 0.072);

}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  &.row {
    flex-direction: row;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}



.columns {
  height: 100%;
  width: 100%;
  padding: 2em 2em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &.wrap {
    flex-wrap: wrap;
  }
  .column {
    height: 100%;
    position: relative;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &.list, .list {
      padding: 1em;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      text-align: left;
    }
  }
  .column.col-2 {
    flex-basis: calc(8.33% * 2);
  }
  .column.col-3 {
    flex-basis: calc(8.33% * 3);
  }
  .column.col-4 {
    flex-basis: calc(8.33% * 4);
  }
  .column.col-5 {
    flex-basis: calc(8.33% * 5);
  }
  .column.col-7 {
    flex-basis: calc(8.33% * 7);
  }
  .column.col-8 {
    flex-basis: calc(8.33% * 8);
  }
  .column.col-9 {
    flex-basis: calc(8.33% * 9);
  }

  .column-line {
    width: 3px;
    height: 100%;
    background: #fafafa;
  }
}




.thumbnail {
  width: 192px;
  height: 108px;
  overflow: hidden;
  position: relative;
  background: #eee url('data:image/svg+xml,\
   <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill-opacity=".05" >\
      <rect x="200" width="200" height="200" />\
      <rect y="200" width="200" height="200" />\
    </svg>');
  background-size: 10px 10px;

  .scaler {
    width: 1920px;
    height: 1080px;
    transform: scale(0.1);
    transform-origin: top left;
  }
}



.big-btn {
  margin: 10px;
  flex-basis: 33%;
  min-width: 150px;
  max-height: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  background: white;
  cursor: pointer;

  code {
    color: gray;
  }

  &.edit {
    min-width: 50px;
    min-height: initial;
    position: absolute;
    top: 15px;
    right: 0;
    border: lightcoral solid 1px;
    border-radius: 50px;
    box-shadow: 0 2.8px 2.2px rgba(100, 100, 100, 0.034);
    font-size: 14px;
    padding: 4px 8px;
  }

  &:hover, &.hit {
    transition: 200ms;
    background: lightblue;
  }
  &.play:hover, &.play.hit {
    background: lightgreen;
  }
  &.stop:hover, &.stop.hit {
    background: lightcoral;
  }
  &.edit:hover {
    background: lightgray;
  }

  &:disabled, &[disabled] {
    opacity: 0.5;
    background: white !important;
    color: gray !important;
    box-shadow: 0 2.8px 2.2px rgba(100, 100, 100, 0.034);
    cursor: not-allowed;
  }
  
}
p.error {
  color: indianred;
  font-size: 12px;
}

input.error {
  border-color: indianred;
}